<h1>Articles</h1>

<% Article.all.each do |article|%>
  <h3 class='article_title'><a href="/articles/<%= article.id %>"><%= article.title %></a> <span class='article_by'>by <%= article.user.username %></span></h3>
<% end %>
