<h1><%= @article.title %></h1>
<h3>By <%= @article.user.username %></h3>
<p>
  <%= @article.content %>
</p>

<form method="post" action="/articles/<%= @article.id %>">
  <input id="hidden" type="hidden" name="_method" value="delete" />
  <input type="submit" value="Delete Article" />
</form>
