<!DOCTYPE html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1" />

    <title>Let's Get Cooking!</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="/stylesheets/main.css" />
  </head>
  <header>
    <h3 style="float: left">Let's Get Cooking!</h3>
    <% if session[:user_id] %>
      <p style="float: right; padding-top: 10px;">
        <a href="/articles">Articles</a>
        <a href="/recipes">Recipes</a>
        <a href="/welcome">Profile</a>
      </p>
    <% end %>
    </header>
  <body>
    <div class="wrapper">

        <%= yield %>

      <footer class="branding">
        <small>&copy; 2020 <strong>Let's Get Cooking!</strong></small>
      </footer>
    </div>
  </body>
</html>
