<!DOCTYPE html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1" />

    <title>Let's Get Cooking!</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="/stylesheets/main.css" />
  </head>
  <header>
    <h3 style="float: left">Let's Get Cooking!</h3>
    <% if session[:user_id] %>
    <div class="dropdown">
      <span><strong>Welcome, <%= User.find(session[:user_id]).username %></strong>!</span>
      <div class="dropdown-content">
        <p><a href="/articles">Articles</a></p>
        <p><a href="/recipes">Recipes</a></p>
        <p><a href="/welcome">Profile</a></p>
        <p><a href="/logout">Logout</a></p>
        </div>
      </div>
    <% end %>
    </header>
  <body>
    <div class="wrapper">
      <% if @error %>
        <p class="error">
          <%= @error %>
          </p>
      <% end %>
        <%= yield %>

      <footer class="branding">
        <small>&copy; 2020 <strong>Let's Get Cooking!</strong></small>
      </footer>
    </div>
  </body>
</html>
